<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<div class="insert">
    <input id="name">
    <button id="btn">save</button>
</div>

<script>
     $('#btn').click(function () {
         let $name = $('#name').val()
         console.log($name);
         let user = {name: $name};
         console.log(user);
         $.ajax({
             type:"POST",
             url: '/saveAsync',
             data: JSON.stringify(user),
             contentType:'aplication/json'

         })
     });


</script>

</body>
</html>